anyio==4.4.0
APScheduler==3.10.4
asgiref==3.7.2
attrs==23.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
brazilcep==6.3.1
bs4==0.0.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dash==2.17.1
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Django==4.0.3
django-apscheduler==0.6.2
django-mailer==2.1
django-mathfilters==1.0.0
et-xmlfile==1.1.0
Flask==3.0.3
fpdf==1.7.2
frozendict==2.4.4
geographiclib==1.52
geopy==2.2.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
idna==3.6
importlib_metadata==8.0.0
investiny==0.7.2
investpy==1.0.8
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
lockfile==0.12.2
lxml==5.2.2
MarkupSafe==2.1.5
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
multitasking==0.0.11
nest-asyncio==1.6.0
numpy==1.26.3
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.0
pdf2image==1.17.0
peewee==3.17.5
pillow==10.3.0
platformdirs==4.2.2
plotly==5.22.0
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg2==2.9.2
psycopg2-binary==2.9.9
pyarrow==16.1.0
pycep-correios==5.0.0
pycparser==2.21
pydantic==1.10.17
pypdf==3.5.1
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.8.2
python-magic-bin==0.4.14
pytz==2023.3.post1
requests==2.31.0
requests-file==2.1.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3986==1.5.0
scipy @ file:///C:/b/abs_2ea4kcjtpg/croot/scipy_1714080455387/work/dist/scipy-1.13.0-cp311-cp311-win_amd64.whl#sha256=b22deae35f42e6264b4b831feedad1c71bd7a0c0b16e9b43b745c6fed2818724
selenium==4.22.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
tenacity==8.5.0
trio==0.26.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
Unidecode==1.3.8
urllib3==2.1.0
validate-docbr==1.10.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
wsproto==1.2.0
xmltodict==0.12.0
yfinance==0.2.40
zeep==4.2.1
zipp==3.19.2
