
.container {
    display: grid;
    grid-template-areas: 
        "main-graph recommended-portfolios agenda"
        "main-graph recommended-portfolios agenda"
        "news-dashboard following fundamentus-data";
    grid-template-columns: 2fr 1fr 1fr; /* Adjust the columns to increase main graph width and reduce agenda width */
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 10px;
    height: 98vh;
    font-family: Bahnschrift, sans-serif;
}

.div-section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.div-section .purpose {
    padding: 6px;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.div-section .content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 4px;
}

/* Specific classes for each block */
.dividends-agenda {
    grid-area: agenda;
    height: 60vh;
}

.news-dashboard {
    grid-area: news-dashboard;
    max-height: 38vh;
}

.recommended-portfolios {
    grid-area: recommended-portfolios;
    height: 60vh;
}

.fundamentus-data {
    grid-area: fundamentus-data;
    max-height: 38vh;
}

.followed-stocks {
    grid-area: following;
    max-height: 38vh;
    overflow-y: auto;
}

.main-graph {
    grid-area: main-graph;
    height: 60vh;
}

.followed-stock-item {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.followed-stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.followed-stock-returns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.followed-stock-returns p {
    margin-right: 10px;
    margin-bottom: 0;
}

.radio-items {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.dropdown {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
}

.input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 12vh;
    max-width: 300px;
}

.button {
    margin: 5px 0;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.checklist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}